doctype html
html
    head
        title= "Guidam Maps"
        link(rel="stylesheet", href="css/orel.css")
        link(rel="stylesheet", href="css/map.css")
        script(src="js/orel.es6")
        script(src="js/main.js")
